.header {
  position: fixed;
  width: 100%;
  min-width: 650px;
  height: 60px;
  text-align: left;
  font-family: "Exo 2", sans-serif;
  color: #ffffff;
  background-color: #525252;
  display: flex;
}

.header .title {
  margin: 0px auto 0px 25px;
  line-height: 60px;
  font-style: italic;
  font-weight: bold;
}

.header .language {
  margin: 0px 25px 0px 0px;
  line-height: 60px;
}

.header .language:hover {
  cursor: pointer;
  color: #8c8c8c;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.header a:hover {
  color: #525252;
}
